.logo{
    width: 100px;
    margin-left: 4vw;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-right: 55vw;
    transition: 0.5s;
}
.logo:hover{
    width: 105px;
}
.menu{
    
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    padding-left: 0px;
    margin-right: 2rem;
    top: 0.75rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.05rem;
    height: 1.6rem;
    transition: .10s;
    display: none;
   /// background-color: rgb(255, 255, 255);
}
.menu span{
    border-radius: 40%;
    height: 0.25rem;
    width: 100%;
    //background-color: linear-gradient(45deg,  #002bff, #daa430, #e53f3f);

}
.menu:hover{
    height: 1.8rem;
}
.Red{
    background-color: rgb(250, 100, 100);
}
.Yellow{
    background-color: rgb(231, 166, 81);
}
.Blue{
    background-color: rgb(106, 106, 248);
}

.container {
    text-align: right;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 3px 5px rgb(169, 169, 169);
}
.Desktop{
    text-align: center;
    display: flex;
    margin-left: 0px;
}
.Desktop h3{
    margin-left: 1.5vw;
    margin-bottom: 20px;
    cursor: pointer;
}
.Desktop h3 {

    display: inline-block;
    position: relative;
    color: black;
}


.Desktop h3::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.Desktop h3:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width: 1240px) {
    .Desktop{
        display: none;
    }
    .menu{
        display: flex;
    }
    .container{
        text-align: right;
        display: flex;
        flex-direction: column;
       width: auto;
        box-shadow: 1px 3px 5px rgb(169, 169, 169);
    }
    .logo{
        width: 100px;
        height: 60px;
        margin-left: 10px;
        margin-top: 6px;
        margin-bottom: 6px;
        padding-right: 2vw;
        transition: 0.5s;
    }
    .Mobile h3{
        font-size: 14px;
        text-align: center;
        margin: 0px;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    .Mobile h3:hover{
        background-color: rgb(211, 211, 211);
    }
    .Mobile h3::after {
        bottom: 0;
        left: 0;
        background-color: rgb(250, 250, 250);
    }
    
    /*
    .Mobile h3:hover::after {
        //background-color: rgb(250, 250, 250);
        //transform: scaleX(1);
       // transform-origin: bottom left;
    }
    */
    
}

