.logo{
    width: 100px;
    margin-left: 4vw;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-right: 55vw;
    transition: 0.5s;
}
.logo:hover{
    width: 105px;
}
.container{
    text-align: right;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 3px 5px rgb(169, 169, 169);
}
.container h3{
    margin-left: 1.5vw;
    margin-bottom: 20px;
    cursor: pointer;
}
h3 {

    display: inline-block;
    position: relative;
    color: black;
}


.container h3::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.container h3:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width: 1240px) {
    .container{
        text-align: right;
        display: flex;
        flex-direction: column;
        width: auto;
        box-shadow: 1px 3px 5px rgb(169, 169, 169);
    }
    .logo{
        width: 100px;
        height: 60px;
        margin-left: 10px;
        margin-top: 6px;
        margin-bottom: 6px;
        padding-right: 2vw;
        transition: 0.5s;
    }
    .container h3{
        font-size: 14px;
        text-align: center;
        margin: 0px;
        padding-top: 1vh;
        padding-bottom: 1vh;
     //   padding-left: 2px;
    //    padding
    }
    .container h3:hover{
        background-color: rgb(211, 211, 211);
    }
    .container h3::after {
      //  content: '';
      //  position: absolute;
       // width: 100%;
       // transform: scaleX(0);
      //  height: 2px;
        bottom: 0;
        left: 0;
        background-color: rgb(250, 250, 250);
     //  background-color: black;
      //  transform-origin: bottom right;
       // transition: transform 0.25s ease-out;
    }
    
    .container h3:hover::after {
        //background-color: rgb(250, 250, 250);
        //transform: scaleX(1);
       // transform-origin: bottom left;
    }
    
}
