.App{
    display: flex;
    flex-direction: column;
    min-height: 190vh;
    max-height: 300vh;
}
.content-wrap{
   flex: 1;
}
@media screen and (max-width: 540px) {
    .content-wrap{
    //  margin-bottom: 100%;
    }
}