.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    //max-height: 300vh;
}
.content-wrap{
   flex: 1;
}
@media screen and (max-width: 740px) {
    .content-wrap{
        min-height: 20vh;
    }
}
@media screen and (max-width: 1300px) {
    .content-wrap{
        min-height: 130vh;
    }
}