.body{
    //height: 100px;
    width: 250px;
    min-height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin-left: 40px;
    border-radius: 25px;
    transition: .5s;
    margin-bottom: 24px;
}
.body:hover{
    border: 2px solid rgb(95, 162, 213);
}

.body h2{
   padding: 0px;
   margin-left: 15px;
   margin-right: 15px;
}
.body p{
    flex: 1;
}
.center{
    text-align: center;
    padding-bottom: 50px;
}
.carduri{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
h1{
    margin-left: 40px;
    margin-bottom: 40px;
}

@media screen and (max-width: 500px){
    .carduri{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
       // margin-left: 15vw;

    }
    .CenterMobile{
        margin-left: 7vw;
   //  padding-bottom: 50px;
    }
    .CenterMobile h1{
        margin-bottom: 7vh;
    }
    
}