.homeLogo{
    width: 600px;
  //  margin-top: 7%;
  //  margin-left: 60px;
}

.Center{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.Hcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
  //  position: relative;
  //  margin-left: 15vw;
    margin-top: 17vh;
    margin-bottom: 7vh;
    justify-content: space-around;
    //transform: translate(-50%, -50%);
}
.leftside h4{

    width: 660px;
}
.leftside{
    padding-right: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left:50px;
}
.homeLogo{
    padding-left: 15vw;

}
a{
    color:black;
    transition: 0.5s;
}
a:hover{
    color:rgb(117, 117, 224);
}

.become{
    width: 120px;
    height: 40px;
    border: 2px solid;
    background: #ffffff;
    border-radius: 25px;
    font-size: 13px;
    color: #000000;
    font-weight: 700;
    cursor: pointer;
    transition: .5s;
}


.become:hover{
    transform: scale(110%,110%);
}


@media screen and (max-width: 1300px) {
    .Hcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
      //  position: relative;
        //width: 10vw;
        justify-content: space-around;
        padding-top: 0vh;
       // padding-bottom: 20px;
        //right: 100vw;
        text-align: center;
      //  margin-left: 45vw;
      //  margin-right: 45vw;
       // transform: translate(-55%, -30%);
    }
      .leftside h4{
        
          width: 74vw;
         // margin-left: 7vw;
         // margin-right: 45vw;
      }
      .become{
        width: 30vw;
        height: 40px;
        border: 2px solid;
        background: #ffffff;
        border-radius: 25px;
        font-size: 11px;
        color: #000000;
        font-weight: 700;
        cursor: pointer;
        margin-bottom: 40px;

        transition: .5s;
    }
    .homeLogo{
        margin-right: 20vw;
        width: 80vw;
    }
}
