.homeLogo{
    width: 600px;
  //  margin-top: 7%;
  //  margin-left: 60px;
}
.Hcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    justify-content: space-around;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.leftside h4{
  //  margin-top: 80px;
    width: 660px;
  //  margin-left: 80px;
    //margin-top: 0px;
}
.leftside{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 80px;
}
a{
    color:black;
    transition: 0.5s;
}
a:hover{
    color:rgb(117, 117, 224);
}

.become{
    width: 120px;
    height: 40px;
    border: 2px solid;
    background: #ffffff;
    border-radius: 25px;
    font-size: 13px;
    color: #000000;
    font-weight: 700;
    cursor: pointer;
    transition: .5s;
}


.become:hover{
    transform: scale(110%,110%);
}


@media screen and (max-width: 1300px) {
    .Hcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 10vw;
        justify-content: space-around;
        top: 70%;
        right: 100vw;
        text-align: center;
        left: 40vw;
       // transform: translate(-55%, -30%);
    }
      .leftside h4{
          width: 78vw;
      }
      .become{
        width: 20vw;
        height: 40px;
        border: 2px solid;
        background: #ffffff;
        border-radius: 25px;
        font-size: 11px;
        color: #000000;
        font-weight: 700;
        cursor: pointer;
        margin-bottom: 40px;
        transition: .5s;
    }
    .homeLogo{
        margin-left: 10vw;
        width: 70vw;
      //  margin-top: 7%;
      //  margin-left: 60px;
    }
}

@media screen and (max-height:700px){
    .Hcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 400px;
        justify-content: space-around;
        top: 100%;
        right: 70%;
        text-align: center;
        left: 40%;
       // transform: translate(-55%, -30%);
    }
}
