.body{
    //height: 100px;
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin-left: 40px;
    border-radius: 25px;
    transition: .5s;
    margin-bottom: 24px;
}
.body:hover{
    border: 2px solid rgb(95, 162, 213);
}

.body h2{
   padding: 0px;
   margin-left:15px;
}
.center{
    text-align: center;
}
.carduri{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}